{"openapi":"3.1.0","info":{"title":"Hamlet Public API","version":"0.1.0","description":"Public API for programmatic access to Hamlet civic intelligence data: government meetings, transcripts, and related records from local governments."},"servers":[{"url":"https://api.myhamlet.com","description":"Production"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"responses":{"RateLimited":{"description":"Per-minute rate limit exceeded. Retry after the number of seconds in the `Retry-After` header.","headers":{"Retry-After":{"description":"Number of seconds to wait before retrying.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"schemas":{"Health":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"version":{"type":"string","example":"0.1.0"},"timestamp":{"type":"string","format":"date-time","example":"2026-01-01T00:00:00.000Z"}},"required":["status","version","timestamp"]},"MeetingList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Meeting"}},"next_cursor":{"type":["string","null"],"description":"Pass as `cursor` to fetch the next page; `null` when there are no more results.","example":"eyJ1IjoiMjAyNi0wNS0wMSAxODoyMjoxMCIsImkiOjQyfQ"}},"required":["data","next_cursor"]},"Meeting":{"type":"object","properties":{"uuid":{"type":"string","description":"Public identifier.","example":"0b3d5f2e-1c4a-4e8b-9f6d-2a1c3e4b5d6f"},"location_uuid":{"type":"string","example":"5f2b0c3a-1d4e-4a8b-9f6d-2a1c3e4b5d6f"},"location_name":{"type":"string","example":"Oakland"},"government_body_uuid":{"type":"string","example":"c30d2f7e-9a1b-4c5d-8e6f-0a1b2c3d4e5f"},"government_body_name":{"type":"string","example":"City Council"},"type":{"type":"string","enum":["REGULAR","SPECIAL"],"description":"Meeting type.","example":"REGULAR"},"date":{"type":"string","description":"Meeting date (YYYY-MM-DD).","example":"2026-05-20"},"ordinal":{"type":"integer","description":"Disambiguates multiple meetings on a single day.","example":1},"is_cancelled":{"type":"boolean","description":"Factual meeting status.","example":false},"has_agenda":{"type":"boolean","description":"Whether a processed agenda exists for this meeting.","example":true},"has_transcript":{"type":"boolean","description":"Whether a downloadable transcript artifact exists.","example":true},"created_at":{"type":"string","description":"ISO-8601 UTC timestamp.","example":"2026-05-21T02:00:00.000Z"},"updated_at":{"type":"string","description":"ISO-8601 UTC timestamp; drives the sync cursor.","example":"2026-05-22T09:14:00.000Z"}},"required":["uuid","location_uuid","location_name","government_body_uuid","government_body_name","type","date","ordinal","is_cancelled","has_agenda","has_transcript","created_at","updated_at"]},"Error":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"not_found"},"message":{"type":"string","example":"The requested resource was not found."}},"required":["code","message"]}},"required":["error"]},"Agenda":{"type":"object","properties":{"uuid":{"type":"string","description":"The agenda's public identifier.","example":"7b44c1e2-..."},"meeting_uuid":{"type":"string","description":"The meeting's public identifier; matches the path.","example":"9a1c..."},"created_at":{"type":"string","description":"ISO-8601 UTC timestamp.","example":"2026-05-19T18:00:00.000Z"},"updated_at":{"type":"string","description":"ISO-8601 UTC timestamp.","example":"2026-05-19T18:00:00.000Z"},"items":{"type":"array","items":{"$ref":"#/components/schemas/AgendaItem"},"description":"Top-level items (those with no parent), ordered."}},"required":["uuid","meeting_uuid","created_at","updated_at","items"]},"AgendaItem":{"type":"object","properties":{"item_number":{"type":["string","null"],"description":"Agenda numbering as published (e.g. `4`, `4.a`).","example":"4.a"},"item_title":{"type":["string","null"],"example":"Approve minutes of the May 5 meeting"},"item_description":{"type":["string","null"],"example":"Staff recommends approval."},"matched_topics":{"type":"array","items":{"$ref":"#/components/schemas/MatchedTopic"},"description":"Agenda-monitoring topics matched on this item, filtered to the topics your API subscription for this meeting's government body includes. Empty when the item matched no topics, or you subscribe to none of the matches."},"children":{"type":"array","items":{"$ref":"#/components/schemas/AgendaItem"},"description":"Child items, ordered; empty for leaf items."}},"required":["item_number","item_title","item_description","matched_topics","children"]},"MatchedTopic":{"type":"object","properties":{"name":{"type":"string","description":"The matched agenda-monitoring topic's name.","example":"Housing"}},"required":["name"]},"Transcript":{"type":"object","properties":{"uuid":{"type":"string","description":"The transcript's public identifier.","example":"d8e1f2a3-4b5c-6d7e-8f90-1a2b3c4d5e6f"},"meeting_uuid":{"type":"string","description":"The meeting's public identifier; matches the path.","example":"9a1c..."},"format":{"type":"string","enum":["jsonl"],"description":"The downloaded artifact's format. Always `jsonl` (one utterance object per line).","example":"jsonl"},"download_url":{"type":"string","description":"Presigned S3 URL for the JSONL transcript, valid 1 hour. Download it before it expires. One artifact covers the whole meeting, recesses included.","example":"https://hamlet-transcripts-prod.s3.us-west-1.amazonaws.com/…?X-Amz-Signature=…"},"url_expires_at":{"type":"string","description":"ISO-8601 UTC timestamp when `download_url` expires.","example":"2026-06-22T15:30:00.000Z"},"generated_at":{"type":"string","description":"ISO-8601 UTC timestamp for when the transcript artifact was built.","example":"2026-05-22T09:20:00.000Z"}},"required":["uuid","meeting_uuid","format","download_url","url_expires_at","generated_at"]},"LocationList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Location"}},"next_cursor":{"type":["string","null"],"description":"Pass as `cursor` to fetch the next page; `null` when there are no more results.","example":"eyJ1IjoiMjAyNi0wNS0wMSAxODoyMjoxMCIsImkiOjQyfQ"}},"required":["data","next_cursor"]},"Location":{"type":"object","properties":{"uuid":{"type":"string","description":"Public identifier.","example":"5f2b0c3a-1d4e-4a8b-9f6d-2a1c3e4b5d6f"},"type":{"type":"string","enum":["CITY","COUNTY","STATE"],"description":"Jurisdiction type.","example":"CITY"},"name":{"type":"string","example":"Palo Alto"},"state_name":{"type":"string","example":"California"},"state_abbreviation":{"type":"string","description":"Two-letter state code.","example":"CA"},"county_names":{"type":"array","items":{"type":"string"},"description":"Counties this location belongs to (for cities).","example":["Santa Clara"]},"created_at":{"type":"string","description":"ISO-8601 UTC timestamp.","example":"2025-01-10T00:00:00.000Z"},"updated_at":{"type":"string","description":"ISO-8601 UTC timestamp; drives the sync cursor.","example":"2026-05-01T18:22:10.000Z"}},"required":["uuid","type","name","state_name","state_abbreviation","county_names","created_at","updated_at"]},"GovernmentBodyList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/GovernmentBody"}},"next_cursor":{"type":["string","null"],"description":"Pass as `cursor` to fetch the next page; `null` when there are no more results.","example":"eyJ1IjoiMjAyNi0wNS0wMSAxODoyMjoxMCIsImkiOjQyfQ"}},"required":["data","next_cursor"]},"GovernmentBody":{"type":"object","properties":{"uuid":{"type":"string","description":"Public identifier.","example":"c30d2f7e-9a1b-4c5d-8e6f-0a1b2c3d4e5f"},"location_uuid":{"type":"string","description":"Parent location's public identifier; matches the path.","example":"5f2b0c3a-1d4e-4a8b-9f6d-2a1c3e4b5d6f"},"parent_uuid":{"type":["string","null"],"format":"uuid","description":"Public identifier of the body this one reports to (a committee's council, a subcommittee's committee), or null when the body is top-level. Always another body of the same location.","example":"a7c1e4d2-3b5f-4e6a-8c9d-1f2e3a4b5c6d"},"type":{"type":"string","description":"Government body type, uppercased. Common values: CITY_COUNCIL, PLANNING_COMMISSION, OTHER, BOARD_OF_SUPERVISORS, SCHOOL_BOARD.","example":"CITY_COUNCIL"},"name":{"type":"string","description":"Human-readable name.","example":"City Council"},"created_at":{"type":"string","description":"ISO-8601 UTC timestamp.","example":"2025-01-10T00:00:00.000Z"},"updated_at":{"type":"string","description":"ISO-8601 UTC timestamp; drives the sync cursor.","example":"2026-04-18T12:05:00.000Z"}},"required":["uuid","location_uuid","parent_uuid","type","name","created_at","updated_at"]}},"parameters":{}},"paths":{"/health":{"get":{"tags":["System"],"summary":"Health check","description":"Returns the current status and version of the API.","responses":{"200":{"description":"The API is healthy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Health"}}}}}}},"/v1/meetings":{"get":{"tags":["Meetings"],"summary":"List meetings","description":"Returns a cursor-paginated list of the meetings under the locations your API key is entitled to, ordered by last update (oldest first) so you can sync incrementally. Page forward by passing the previous response's `next_cursor` as `cursor`. Pass `updated_since` to return only meetings changed at or after that time; it composes with the cursor. Optionally restrict to a single government body with `government_body_uuid`.","security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Maximum number of items to return per page.","example":50},"required":false,"description":"Maximum number of items to return per page.","name":"per_page","in":"query"},{"schema":{"type":"string","description":"Opaque pagination cursor from a previous response's `next_cursor`. Omit for the first page.","example":"eyJ1IjoiMjAyNi0wNS0wMSAxODoyMjoxMCIsImkiOjQyfQ"},"required":false,"description":"Opaque pagination cursor from a previous response's `next_cursor`. Omit for the first page.","name":"cursor","in":"query"},{"schema":{"type":"string","format":"date-time","description":"Inclusive lower bound on `updated_at` (ISO-8601 with a UTC `Z` or numeric offset, e.g. `2026-05-01T18:22:10Z`). Returns only records changed at or after this time, ordered and paged exactly like a normal request — pass it alongside `cursor` to sync incrementally. A malformed or offset-less timestamp returns `400`.","example":"2026-05-01T18:22:10Z"},"required":false,"description":"Inclusive lower bound on `updated_at` (ISO-8601 with a UTC `Z` or numeric offset, e.g. `2026-05-01T18:22:10Z`). Returns only records changed at or after this time, ordered and paged exactly like a normal request — pass it alongside `cursor` to sync incrementally. A malformed or offset-less timestamp returns `400`.","name":"updated_since","in":"query"},{"schema":{"type":"string","format":"uuid","description":"Restrict the list to meetings of this government body. The body must be under one of your entitled locations; an unknown or un-entitled uuid returns 404.","example":"c30d2f7e-9a1b-4c5d-8e6f-0a1b2c3d4e5f"},"required":false,"description":"Restrict the list to meetings of this government body. The body must be under one of your entitled locations; an unknown or un-entitled uuid returns 404.","name":"government_body_uuid","in":"query"}],"responses":{"200":{"description":"A page of meetings.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeetingList"}}}},"400":{"description":"Invalid cursor, government_body_uuid, or query parameter.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"The government body does not exist or is not entitled to this API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/meetings/{uuid}/agenda":{"get":{"tags":["Meetings"],"summary":"Get a meeting's agenda","description":"Returns the meeting's agenda as a hierarchical tree of items, nested by parent into `children` and ordered as published. Not paginated — the full tree is returned in one call. If the meeting has more than one agenda, the most recently updated is returned. Returns 404 if the meeting does not exist, your API key is not entitled to it, or it has no agenda (`has_agenda` on the meeting list tells you in advance).","security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","format":"uuid","description":"The meeting's public uuid.","example":"9a1c2b3d-4e5f-6071-8293-a4b5c6d7e8f9"},"required":true,"description":"The meeting's public uuid.","name":"uuid","in":"path"}],"responses":{"200":{"description":"The meeting's agenda as a hierarchical tree.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Agenda"}}}},"400":{"description":"Invalid uuid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"The meeting does not exist, is not entitled to this API key, or has no agenda.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/meetings/{uuid}/transcript":{"get":{"tags":["Meetings"],"summary":"Get a meeting's transcript","description":"Returns metadata plus a short-lived (1-hour) presigned S3 URL to download the meeting's transcript as a JSONL file (one utterance per line, no embeddings). Returns 404 if the meeting does not exist, your API key is not entitled to it, or it has no built transcript artifact (`has_transcript` on the meeting list tells you in advance). The link is never broken: a 200 always carries a valid, downloadable URL.\n\nEvery meeting has at most one transcript artifact, covering the whole proceeding. A meeting that recessed and reconvened is one dense sequence of utterances whose timestamps remain absolute against the recording, so a recess appears as a jump between two adjacent lines rather than as a separate file to fetch.","security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","format":"uuid","description":"The meeting's public uuid.","example":"9a1c2b3d-4e5f-6071-8293-a4b5c6d7e8f9"},"required":true,"description":"The meeting's public uuid.","name":"uuid","in":"path"}],"responses":{"200":{"description":"Transcript metadata with a 1-hour presigned download URL.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transcript"}}}},"400":{"description":"Invalid uuid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"The meeting does not exist, is not entitled to this API key, or has no transcript.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/locations":{"get":{"tags":["Locations"],"summary":"List locations","description":"Returns a cursor-paginated list of the locations your API key is entitled to, ordered by last update (oldest first) so you can sync incrementally. Page forward by passing the previous response's `next_cursor` as `cursor`. Pass `updated_since` to return only locations changed at or after that time; it composes with the cursor.","security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Maximum number of items to return per page.","example":50},"required":false,"description":"Maximum number of items to return per page.","name":"per_page","in":"query"},{"schema":{"type":"string","description":"Opaque pagination cursor from a previous response's `next_cursor`. Omit for the first page.","example":"eyJ1IjoiMjAyNi0wNS0wMSAxODoyMjoxMCIsImkiOjQyfQ"},"required":false,"description":"Opaque pagination cursor from a previous response's `next_cursor`. Omit for the first page.","name":"cursor","in":"query"},{"schema":{"type":"string","format":"date-time","description":"Inclusive lower bound on `updated_at` (ISO-8601 with a UTC `Z` or numeric offset, e.g. `2026-05-01T18:22:10Z`). Returns only records changed at or after this time, ordered and paged exactly like a normal request — pass it alongside `cursor` to sync incrementally. A malformed or offset-less timestamp returns `400`.","example":"2026-05-01T18:22:10Z"},"required":false,"description":"Inclusive lower bound on `updated_at` (ISO-8601 with a UTC `Z` or numeric offset, e.g. `2026-05-01T18:22:10Z`). Returns only records changed at or after this time, ordered and paged exactly like a normal request — pass it alongside `cursor` to sync incrementally. A malformed or offset-less timestamp returns `400`.","name":"updated_since","in":"query"}],"responses":{"200":{"description":"A page of entitled locations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationList"}}}},"400":{"description":"Invalid cursor or query parameter.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/locations/{uuid}/government-bodies":{"get":{"tags":["Government Bodies"],"summary":"List a location's government bodies","description":"Returns a cursor-paginated list of the government bodies (city councils, planning commissions, …) for one location, ordered by last update (oldest first) so you can sync incrementally. Page forward by passing the previous response's `next_cursor` as `cursor`. Pass `updated_since` to return only bodies changed at or after that time; it composes with the cursor. Returns 404 if the location does not exist or your API key is not entitled to it.","security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","format":"uuid","description":"The location's public uuid.","example":"5f2b0c3a-1d4e-4a8b-9f6d-2a1c3e4b5d6f"},"required":true,"description":"The location's public uuid.","name":"uuid","in":"path"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Maximum number of items to return per page.","example":50},"required":false,"description":"Maximum number of items to return per page.","name":"per_page","in":"query"},{"schema":{"type":"string","description":"Opaque pagination cursor from a previous response's `next_cursor`. Omit for the first page.","example":"eyJ1IjoiMjAyNi0wNS0wMSAxODoyMjoxMCIsImkiOjQyfQ"},"required":false,"description":"Opaque pagination cursor from a previous response's `next_cursor`. Omit for the first page.","name":"cursor","in":"query"},{"schema":{"type":"string","format":"date-time","description":"Inclusive lower bound on `updated_at` (ISO-8601 with a UTC `Z` or numeric offset, e.g. `2026-05-01T18:22:10Z`). Returns only records changed at or after this time, ordered and paged exactly like a normal request — pass it alongside `cursor` to sync incrementally. A malformed or offset-less timestamp returns `400`.","example":"2026-05-01T18:22:10Z"},"required":false,"description":"Inclusive lower bound on `updated_at` (ISO-8601 with a UTC `Z` or numeric offset, e.g. `2026-05-01T18:22:10Z`). Returns only records changed at or after this time, ordered and paged exactly like a normal request — pass it alongside `cursor` to sync incrementally. A malformed or offset-less timestamp returns `400`.","name":"updated_since","in":"query"}],"responses":{"200":{"description":"A page of the location's government bodies.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GovernmentBodyList"}}}},"400":{"description":"Invalid uuid, cursor, or query parameter.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"The location does not exist or is not entitled to this API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"webhooks":{}}